@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    color: white;
    font-size: 62.5%;
    font-family: "Space Grotesk", sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tippy-tooltip-content {
    font-size: 1.2rem;
    padding: 0.2rem 0.3rem;
}
